* { box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: black grey;
  scroll-behavior: smooth;
  }

  .todo {
    width: 100%;
    background-image:url(https://blog.caixabank.es/blogcaixabank/wp-content/uploads/sites/4/2017/07/Barcelona-Silicon-Valleyok.jpg);
    /* border: black thin solid; */
    overflow: auto;
    height: 953px;
    border-bottom: black 7px solid;
    }

    .op1 {
      width: 70%;
      border: black thin solid;
      float: left;
      margin: 15px;
      overflow: auto;
      border-radius: 5px 50px;
      border-width: 5px;
      border-color: white;
    }

    .op2 {
      width: 70%;
      border: black thin solid;
      float: right;
      margin: 15px;
      overflow: auto;
      border-radius: 50px 5px;
      border-width: 5px;
      border-color: white;
    }

    .foto1 {
      width: 10%;
      height: 150px;
      padding: 3%;
      margin:5px;
      float: left;
      border-radius: 100px;
      background-image: url("foto12.png");
      background-size: cover;
      border-color: white;
    }

    .foto2 {
      width: 10%;
      height: 150px;
      padding: 3%;
      margin:5px;
      float: right;
      border-radius: 100px;
      background-image: url("foto31.png");
      background-size: cover;
      border-color: white;
    }

    .foto3 {
      width: 10%;
      height: 150px;
      padding: 3%;
      margin:5px;
      float: left;
      border-radius: 100px;
      background-image: url("foto2.png");
      background-size: cover;
      border-color: white;
    }

    .nombre1 {
      width: 40%;
      float: left;
      font-size: 40px;
      margin-left: 1%;
      margin-top: 1%;
      margin-bottom: 1%;
      font-family: 'Baloo Bhai', cursive;
      text-decoration: underline;
    }

    .opinion1 {
      width: 85%;
      float: left;
      font-style: italic;
      margin-left: 70px;
      font-size: 20px;
      margin-left: 1%;
      margin-bottom: 1%;
      font-family: 'Capriola', sans-serif;
    }

    .nombre2 {
      width: 40%;
      text-decoration: underline;
      text-align: right;
      float: right;
      margin-top: 1%;
      margin-left: 1%;
      margin-bottom: 1%;
      font-size: 40px;
      font-family: 'Baloo Bhai', cursive;
    }

    .opinion2 {
      width: 82%;
      float: left;
      font-style: italic;
      font-size: 20px;
      margin-left: 1%;
      position: relative;
      margin-left: 90px;
      margin-bottom: 1%;
      font-family: 'Capriola', sans-serif;
    }

  .abajo {
    width: 100%;
    float: right;
    margin-top: 17%;
  }

  .info {
  float: right;
  margin-top: 20px;
  /* border: black thin solid; */
  width: 50%;
  }

  .dentroinfo {
    /* border: black thin solid; */
    width: 98%;
    margin: 1%;
    font-size: 25px;
    text-align: center;
    color: black;
    font-family: 'Convergence', sans-serif;
    color: white;
  }

  .dentroinfo1 {
    /* border: black thin solid; */
    width: 90%;
    /* border: black thin solid; */
    font-size: 50px;
    margin-left: 40px;
    margin-bottom: 40px;
    font-family: 'Convergence', sans-serif;
    float: left;
    font-style: italic;
    font-weight: bolder;
    color: white;
}

  .dentroinfo2 {
    /* border: black thin solid; */
    width: 90%;
    /* border: black thin solid; */
    font-size: 10px;
    margin-left: 55px;
    font-family: 'Convergence', sans-serif;
    float: left;
    font-style: italic;
    font-weight: bolder;
    color: white;
}
  .izquierda {
  /* border: black thin solid; */
  float: right;
  width: 45%;
  margin-top: 2%;
  text-align: center;
  }

.hoverbut {
  color: #a6a6a6 !important;
}

  .boton {
  float: left;
  border: none;
  margin-left: 35px;
  margin-right: 35px;
  padding: 9px;
  text-align: center;
  font-size: 100%;
  background-color: transparent;
  font-family: 'Convergence', sans-serif;
  }


  #pie {
    width: 100%;
    background-color: black;
    padding: 36.5px;
    float: left;
  }

  #piein {
    width: 100%;
    color: white;
    font-size: 12px;
    text-align: center;
    font-family: sans-serif, verdana;
    font-style: italic;
  }

a {
  color: white;
  text-decoration: none;
}


#servicename {
  width: 30%;
  /* border: black thin solid; */
  text-align: center;
  font-size: 80px;
  margin-left: 640px;
  margin-bottom: 40px;
  margin-top: 45px;
  font-family: verdana;
  font-style: italic;
  font-weight: bolder;
}

#servicename2 {
  width: 30%;
  /* border: black thin solid; */
  text-align: center;
  font-size: 80px;
  margin-left: 640px;
  margin-bottom: 40px;
  margin-top: 45px;
  font-family: verdana;
  font-style: italic;
  font-weight: bolder;
}

#opinionesseg{
  background-image: url("fotoopiniones3.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  color: white;
  border-bottom: black 7px solid;

}

.payas {
  float: left;
  border: black  thin solid;
  margin: 15px;

}

.twitter-timeline {
  float: right;
  margin-right: 50px;
}

.fa {
 padding: 62px;
 font-size: 30px;
 width: 10.2878%;
 height: 167px;
 text-align: center;
 text-decoration: none;
 border-radius: 50%;
 float: left;
 margin-bottom: 10px;
 border: black thin solid;
 border-width: 5px;
}

.fa:hover {
 opacity: 0.7;
}

.fa-gitlab {
 background: #3B5998;
 color: white;
}

.fa-twitter {
 background: #55ACEE;
 color: white;
}

.fa-google{
 background: #55ACEE;
 color: white;
}

#contactanoseg {
  background-image: url("color.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  color: white;
  border-bottom: black 7px solid;
}

#serviciosseg {
  border-bottom: black 7px solid;
}

#servdef {
  width: 70%;
  /* border: black thin solid; */
  text-align: center;
  font-size: 25px;
  margin-left: 270px;
  margin-bottom: 50px;
  margin-top: 5px;
  font-family: verdana;
  font-style: italic;
}

#servdef2 {
  width: 70%;
  /* border: black thin solid; */
  text-align: center;
  font-size: 25px;
  margin-left: 270px;
  margin-bottom: 50px;
  margin-top: 5px;
  font-family: verdana;
  font-style: italic;
}


.cuadro {
  font-family: verdana;
  width: 27%;
  border: none;
  background-color: white;
  text-align: center;
  font-size: 40px;
  margin-top: 15px;
  margin-left: 85px;
  padding-bottom: 50px;
  padding-top: 50px;
  display: inline;
}

.servicio {
  width: 50%;
  /* border: black thin solid; */
  text-align: center;
  margin-left: 120px;
  margin-top: 10px;
  font-weight: bold;
}

.servicioexp {
  width: 70%;
  /* border: black thin solid; */
  text-align: center;
  margin-left: 70px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}



/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
.izquierda, #right-menu, #content {
    width: 100%; float: left;}

    #servicename{
    float: right; margin-right: 40%;}
    #servdef{
    float: right; margin-right: 10%;}
    .cuadro{
    width: 30%; margin-left: 10%;}
    .servicio{
width: 10%; margin-left: 40%;}

img {}

body { }
}
