*{box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: black grey;
}

#pie {
  width: 100%;
  background-color: black;
  padding: 36.5px;
  float: left;
}

#piein {
  width: 100%;
  color: white;
  font-size: 12px;
  text-align: center;
  font-family: sans-serif, verdana;
  font-style: italic;
}

a {
  color: white;
  text-decoration: none;
}

.izquierda {
/* border: black thin solid; */
float: right;
width: 100%;
text-align: center;
background-color: gray;
}

.todo {
  width: 100%;
  background-image:url();
  overflow: auto;
}

.boton {
float: left;
width: 33%;
border: none;
padding: 4px;
text-align: center;
font-family: sans-serif;
color: black;
font-size: 20px;
background-color: white;
font-weight: bold;
margin: 3px;
}

#servicename {
  width: 30%;
  /* border: black thin solid; */
  text-align: center;
  font-size: 80px;
  margin-left: 640px;
  margin-bottom: 40px;
  margin-top: 115px;
  font-family: verdana;
  font-style: italic;
  font-weight: bolder;

}

#servdef {
  width: 70%;
  /* border: black thin solid; */
  text-align: center;
  font-size: 35px;
  margin-left: 270px;
  margin-bottom: 50px;
  margin-top: 5px;
  font-family: verdana;
  font-style: italic;
}

#descserv {
  width: 50%;
  border: none;
  float: left;
  margin-left: 50px;
  margin-bottom: 10px;
}

#descserv img {
  width: 800px;
  height: 550px;
}

#descserv1 {
  width: 100%;
  /* border: black thin solid; */
  margin-left: 25px;
  font-size: 18px;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  color: grey;
}

.fotillo {
  float: left;
}
.content {
  margin: 1%;
}
.content2 {
  margin: 1%;
  font-family: verdana;
  font-style: italic;
}

@media screen and (max-width: 800px) {
    #servicename {
    width: 100%; float: left;}

    #servicename{
    float: right; margin-right: 0%;}
    #servdef{
    float: right; margin-right: 13%;}
    .boton{
    width: 25%;padding: 1%;margin-left: 6%;}
    #descserv1{
  width: 95%;}
    .servicio{
width: 10%; margin-left: 40%;}

    img {}

    body {}
}
